/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    min-height: 100vh;
    font-family: 'Barlow Condensed', sans-serif;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}